* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    /* background-color: red; */
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    z-index: 999;
  }
  .logo {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  
  .items {
    height: 100%;
    width: 70%;
    /* background-color: green; */
  }
  
  .items > ul {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .items ul > li {
    list-style: none;
    padding: 1rem;
  }
  .items ul > li > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(24, 56, 236);
  }
  
  /* .search {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .search > input {
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 0.3rem;
    padding-left: 10px;
    outline: none;
    border: 1px solid black;
  }
  
  .search-icn{
    font-size: 25px;
    cursor: pointer;
  } */
  
  .firstHero {
    height: 100vh;
    width: 100vw;
  }
  
  .firstImage {
    height: 100%;
    width: 100%;
    background: url(pic/What-is-Sepia-Tone-Photography-How-It-Works-and-Why-Use-It-Featured.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .firstDetails {
    z-index: 10;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
  }
  .firstDetails > h1 {
    font-size: 2rem;
  }
  .firstDetails > p {
    font-size: 1.3rem;
  }
  
  .custom-button {
    background-color: cyan;
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    font-size: 17px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
      0 0 200px cyan;
  }
  
  .footer {
    height: 20vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer > .icons {
    height: 30%;
    width: 100%;
    text-align: center;
  }
  
  .footer > .icons > a > .icon {
    padding: 10px;
  }
  
  .footer > .icons > a > i {
    font-size: 25px;
  }
  
  .footer > h4 {
    font-size: 22px;
    margin-top: 20px;
  }
  
















