/* universal selection  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation bar  */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    padding: 20px ;
    /* margin-right: 50px; */
    height: 10vh;
    width: 100vw;
    background: transparent;
}

/* navigation bar list */
nav ul{
    display: flex;
    gap: 70px;
    list-style: none;
    background: transparent;
}


/* body{
    background-image: url(pic/What-is-Sepia-Tone-Photography-How-It-Works-and-Why-Use-It-Featured.jpg);
} */


/* picturesque heading */
#h4{
    margin-right: 55%;
    padding: 0;
    border: 0;
    text-align: start;
    font-size: 22px;
    font-style: oblique;
    color:rgba(251, 23, 3, 0.837);
}

/* navigation bar buttons under line remove */
a{
    text-decoration: none;
}

/* navigation bar home button  */
#home1btn{
    border: 0;
    background: transparent;
    text-decoration: none;
    width: 15px;
    height: 10px;
    padding: 15px;
    margin: 0;
    font-size: 20px;
}

/* navigation bar about button */
#about2btn{
    border: 0;
    background: transparent;
    text-decoration: none;
    width: 15px;
    height: 10px;
    padding: 15px;
    margin: 0;
    font-size: 20px;
}

/* navigation bar portfolio button   */
#portfolio3btn{
    border: 0;
    background: transparent;
    text-decoration: none;
    width: 15px;
    height: 10px;
    padding: 15px;
    margin: 0;
    font-size: 20px;
}

/* navigation contact button  */
#contact4btn{
    border: 0;
    background: transparent;
    text-decoration: none;
    width: 15px;
    height: 10px;
    padding: 15px;
    margin: 0;
    font-size: 20px;
}

/* navigation bar search baar */
.search{
    border: 0;
    text-decoration: none;
    margin: 0;
    padding: 15px;
    height: 10px;
    font-size: 9px;
}

/* The PicturesQue heading */
#h1{
    margin: 70px;
    padding: 70px;
    text-align: center;
    background: transparent;
    font-size: 50px;
}

/* Welcome to the picturesque heading */
#h2{
    text-align: center;
    margin: 8px;
    padding: 8px;
    font-size: 35px;
    background: transparent;
}

/* paragraph */
#paragraph{
    text-align: center;
    margin: 15px;
    padding: 5px;
    font-size: 20px;
    background: transparent;
}

/* glowing button position adjust  */
.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* glowing buttons glow setting for ....BUY NOW.... button */
.custom-button1{
    display: flex;
    justify-content: center;
    background-color: cyan;
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    font-size: 17px;
    padding: 10px 15px;
}

.custom-button1:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

/* glowing buttons glow setting for .....DISCOVER MORE...... button  */
.custom-button2{
    display: flex;
    justify-content: center;
    background-color: cyan;
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    font-size: 17px;
    padding: 10px 15px;
}

.custom-button2:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
} 




/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(pic/What-is-Sepia-Tone-Photography-How-It-Works-and-Why-Use-It-Featured.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* .main{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(pic/What-is-Sepia-Tone-Photography-How-It-Works-and-Why-Use-It-Featured.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
} */

#image{
    height: 100vh;
    width: 100vw;
    background-image: url(pic/What-is-Sepia-Tone-Photography-How-It-Works-and-Why-Use-It-Featured.jpg);
    background-size: 100% 100%;
}











/* footer styling */




footer{
    margin: 0px;
    margin-top: 311px;
    padding: 0px;
}


.socialIcons{
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 50px;
    margin: 50px;
    padding: 30px;
}



#footernav{
    align-items: center;
    justify-content: center;
    display: inline-block;
}


