
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
    list-style: none
}
.wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper label{
    background: #262626;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    padding: 16px 48px;            
}
#chkBox{
    display: none;
}
.mainContnt{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    background: rgba(0,0,0,0.8);
    
}
.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 28%;
    height: 800px;
    transform: translateY(-1000px);
    transition: all 2s;
    margin: auto;
    background: #fff;
}

.close-box{
    position: relative;
    text-align: right;
    color: #262626;
    font-weight: bold;
    margin-top: 64px;
    margin-bottom: 32px;
    
    
}
.box-close {
position: absolute;
bottom: 350px;
right: 5px;
}
#chkBox:checked + .mainContnt{
    visibility: visible;
    opacity: 1;
}
#chkBox:checked + .mainContnt .box{
    transform: translateY(0);
}

.poster img{
    height: 50%;
}