#h1{
    font-style: italic;
    font-size: xx-large;
    font-size: 55px;
    text-align: center;
    color: aquamarine;
}

#h2{
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

#h4{
    text-align: start;
    font-size: 22px;
    font-style: oblique;
    color: rgba(251, 23, 3, 0.837);
}

#paragraph{
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px;
}


/* nav bar  */
nav{
    background: transparent;
    display: flex;
}


/* nav bar list */
nav ul{
    display: flex;
    gap: 10px;
    margin-left: 70rem;
    background: transparent;
    list-style: none;
}

nav h4{
    margin-left: 2rem;
    
}

/* background image  */
body{
    background-image: url(pic/What-is-Sepia-Tone-Photography-How-It-Works-and-Why-Use-It-Featured.jpg);
}


/* button 1  */
.custom-button1{
    background-color: cyan;
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.custom-button1:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}


/* button 2 */
.custom-button2{
    background-color: cyan;
    border-radius: 2rem;
    border: 0;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.custom-button2:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}